# Assetsフォルダ全体を無視
/Assets/*

# ただし、Assets/Scriptsフォルダ内は追跡
!/Assets/Scripts/
!/Assets/Scripts/**

# その他の一般的なUnityの無視設定
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Oo]bj/
[Ll]ogs/
MemoryCaptures/
ProjectSettings/
UserSettings/

# releaseフォルダやreleaseTestフォルダは残す
release/
releaseTest/

Bugs_killer_device_iOS/
Packages/
# metaファイルは除外
*.meta


# その他の設定
.DS_Store
*.csproj
*.unityproj
*.sln
*.userprefs
*.meta
